
body {
  min-height: 100vh;
  background-image: linear-gradient(87deg,rgba(41, 115, 115, 1) 0,rgba(57, 57, 58, 1) 100%); 
  padding-top: 65px; 
}

nav {
  background: rgba(255, 133, 82, 1);
  border-radius: 1%;
}

.gif {
  margin: 8px;
}

img {
  border-radius: 50%;
}

.btn {
  margin: 8px;
}

.thumbnail {
  position: relative;
}

.caption {
  background: rgba(57, 57, 58, 1);
  position: relative;
  color: rgba(230, 230, 230, 1);
  bottom: 4em;
  left: 20%;
  border-radius: 8%;
  width: 65%;
}

.listens-to-parent {
  width: 250px;
  float: left;
  margin: 8px;
}

.fixed-right {
  position: fixed;
  right: 0;
  background: rgba(233, 215, 88, 1)
}

/* $color1: rgba(233, 215, 88, 1);
$color2: rgba(41, 115, 115, 1);
$color3: rgba(255, 133, 82, 1);
$color4: rgba(230, 230, 230, 1);
$color5: rgba(57, 57, 58, 1); */